{% load static %}

<!-- Navbar Start -->
<div class="container-fluid bg-primary">
    <div class="container">
      <nav class="navbar navbar-dark navbar-expand-lg py-0">
        {% comment %} logo and title of website {% endcomment %}
        <a href="{% url 'home:homepage' %}" class="navbar-brand d-flex align-items-center gap-2">
          <img
            src="{% static 'img/skyweblogo.jpg' %}"
            style="width: 50px; height: 50px; border-radius: 50%;"
            alt="SkyWebs Logo"
          />
          <h1 class="text-white fw-bold mb-0">
            Sky<span class="text-secondary">Webs</span>
          </h1>
        </a>
        {% comment %}  {% endcomment %}
        
        <button
          type="button"
          class="navbar-toggler me-0"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse bg-transparent"
          id="navbarCollapse"
        >
          <div class="navbar-nav ms-auto mx-xl-auto p-0">
            <a
              href="{% url 'home:homepage' %}"
              class="nav-item nav-link {% if request.resolver_match.url_name == "homepage" %}active{% endif %}"
              >Home</a
            >
            <a href="{% url 'about:aboutpage' %}"
             class="nav-item nav-link {% if request.resolver_match.url_name == "aboutpage" %}active{% endif %}">About</a>
            <a href="{% url 'services:servicespage' %}"
             class="nav-item nav-link {% if request.resolver_match.url_name == "servicespage" %}active{% endif %}">Services</a>
            <a href="{% url 'projects:projectspage' %}"
             class="nav-item nav-link {% if request.resolver_match.url_name == "projectspage" %}active{% endif %}">Projects</a>
            <a href="{% url 'blog:blogpage' %}"
             class="nav-item nav-link {% if request.resolver_match.url_name == "blogpage" %}active{% endif %}">Blogs</a>
            {% comment %} <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >Pages</a
              >
              <div class="dropdown-menu rounded">
                <a href="blog.html" class="dropdown-item">Our Blog</a>
                <a href="team.html" class="dropdown-item">Our Team</a>
                <a href="testimonial.html" class="dropdown-item"
                  >Testimonial</a
                >
                <a href="404.html" class="dropdown-item">404 Page</a>
              </div>
            </div> {% endcomment %}
            <a href="{% url 'contact:contactpage' %}"
             class="nav-item nav-link {% if request.resolver_match.url_name == "contactpage" %}active{% endif %}">Contact</a>
          </div>
        </div>

        <div class="d-none d-xl-flex flex-shirink-0">
          <div
            id="phone-tada"
            class="d-flex align-items-center justify-content-center me-4"
          >
            <a href="{% url 'contact:contactpage' %}" class="position-relative animated tada infinite">
              <i class="fa fa-phone-alt text-white fa-2x"></i>
              <div class="position-absolute" style="top: -7px; left: 20px">
                <span><i class="fa fa-comment-dots text-secondary"></i></span>
              </div>
            </a>
          </div>
          <div class="d-flex flex-column pe-4 border-end">
            <span class="text-white-50">Have any questions?</span>
            <span class="text-secondary">Call: 0790900900</span>
          </div>
          <div class="d-flex align-items-center justify-content-center ms-4">
            <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Navbar End -->